body {
  background-color: #f2efe8;
  background-image: url("../img/_bg_light.png")
}

/*
=========================== General Elements ======================================
*/
@font-face {
    font-family: 'party_businessregular';
    src: url('../fonts/textes/partybusiness-webfont.eot');
    src: url('../fonts/textes/partybusiness-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/textes/partybusiness-webfont.woff2') format('woff2'),
         url('../fonts/textes/partybusiness-webfont.woff') format('woff'),
         url('../fonts/textes/partybusiness-webfont.ttf') format('truetype'),
         url('../fonts/textes/partybusiness-webfont.svg#party_businessregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'anironregular';
    src: url('../fonts/titres/anirm___-webfont.eot');
    src: url('../fonts/titres/../fonts/titre/anirm___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titres/anirm___-webfont.woff2') format('woff2'),
         url('../fonts/titres/anirm___-webfont.woff') format('woff'),
         url('../fonts/titres/anirm___-webfont.ttf') format('truetype'),
         url('../fonts/titres/anirm___-webfont.svg#anironregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tengwar_annatarregular';
    src: url('../fonts/Symboles/tngan-webfont.eot');
    src: url('../fonts/Symboles/tngan-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Symboles/tngan-webfont.woff2') format('woff2'),
         url('../fonts/Symboles/tngan-webfont.woff') format('woff'),
         url('../fonts/Symboles/tngan-webfont.ttf') format('truetype'),
         url('../fonts/Symboles/tngan-webfont.svg#tengwar_annatarregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'party_businessregular', Arial, sans-serif;
    font-size: 2em;
}
h2, h3, h4 .btn-custom, .navbar {
    font-family: 'anironregular', Arial, sans-serif;
}
h2,h3 {
    margin: 3rem;
}
h2::before, h2::after {
  content: 'ij';
  padding: 0 10px;
  vertical-align: top;
  font-family: 'tengwar_annatarregular', Arial, sans-serif;
  color: #ff5f01;
}
hr {
  width: 50%;
  color: #ff5f01;
  background-color: #ff5f01;
  border-top: 5px;
  border-top-style:  solid;
  margin-top: 0;
}
.bg-dark {
  background-image: url("../img/_bg_dark.png");
}
.bg-orange {
  background-color: #ff5f01;
}
.orange, s {
  color: #ff5f01;
}
.white {
  color: white;
}
.btn-custom {
 text-decoration: none;
 position:relative;
 z-index:10;
 display:inline-block;
 padding:5px 30px
}
.btn-custom:after {
    background-color : black;
    -webkit-transform:skew(-15deg);
    display:inline-block;
    content:" ";
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.btn-custom:hover::after {
  box-shadow: 0 0 5px 2px darkgrey;
}
.btn-custom:hover a {
  text-decoration: none;
  color: grey;
}
/*
=========================== Header and Navbar ======================================
*/
.navbar-brand {
  padding: 10px 15px 0px 15px;
}
nav ul li:not(:last-of-type) a::after {
      font-size: 0.8em;
      content: " |";
      font-family: sans-serif;
}
@media screen and (max-width:1190px) {
  nav ul li:not(:last-of-type) a::after {
    display: none;
  }
}
.navbar ul li a {
  color: white;
  font-size: 1rem;
}
header nav .active a {
  text-decoration: underline;
}
/*
=========================== banner ======================================
*/
#banner .carousel-caption {
  bottom: 35%;
  text-shadow: 2px 2px 2px black;
}
#banner .carousel-caption h3 {
  font-size: 5rem;
}
#banner .carousel-caption p {
  font-size: 3rem;
}
#banner .carousel-caption q {
  font-size: 3rem;
  float: right;
}

/*
=========================== Fellows ======================================
*/
#Fellows .nav-link {
  color: grey;
  font-size: 2rem;
}
#Fellows .nav-link:hover {
  color: black;
}
#Fellows .nav-pills .nav-link.active {
  color: #ff5f01;
  border: none;
  background-color: transparent;
  text-decoration: underline;
}
#Fellows .nav-pills .nav-link.active::before, .nav-pills .nav-link.active::after {
  content: " w ";
}

.rewardNotice{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.rewardPicture {
  margin: 1em auto;
}
.rewardPicture img {
    opacity: 0.5;
}
.rewardNotice:not(.dead) p {
  color: white;
}
.rewardPicture .carousel-caption {
  top: 1.5rem;
}
.rewardPicture .carousel-caption p {
  top: 2rem;
}
.rewardPicture .carousel-caption h3 {
  margin: 5rem auto;
  font-size: 2.5rem;
}
.rewardPicture:not(.dead) p {
  color: black;
  margin: 0 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px white;
}
.rewardPicture.dead p {
  padding-bottom: 1em;
}
#Fellows .rewardPicture h3 {
  color: white;
  }
  .rewardPicture:not(.dead):hover p{
    opacity: 0;
  }
  .rewardPicture:not(.dead):hover img {
    opacity: 1;
  }
  .rewardPicture:not(.dead):hover h3{
  font-size: 2rem;
  margin-top: 10rem;
  }

/*
=========================== GetMyReward ======================================
*/
.btn {
  font-size: 3rem;
  margin: 2rem;
}
.btn.btn-custom.btn-custom-white::after {
  background-color: white;
}
/*
=========================== hunters ======================================
*/
#hunters strong {
  font-size: 3.5rem;
}
#hunters p {
  font-size: 2rem;
}

#hunters a {
  color: black;
  text-decoration: underline;
}

/*
=========================== AboutTheRing ======================================
*/
#AboutTheRing {
  padding-bottom: 2em;
}
#AboutTheRing article {
  border-radius: 15px;
  border: 1px solid black;
  margin: 2rem 3rem;
  padding-bottom: 1rem;
  background-color: #dddddd;
}
#AboutTheRing article p, #AboutTheRing article table {
  padding: 1rem 2rem;
  color: black
}
#AboutTheRing q {
  float: right;
}
#AboutTheRing h4 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-left: 2rem;
}
th {
  border-bottom: 2px solid black;
}
tr:not(:last-of-type) {
  border-bottom: 1px solid grey;
}
tr:nth-of-type(odd) {
  background-color: #e3dedb;
}
td {
  padding-left: 4rem;
}
.w-90 {
  width: 90%;
}

/*
=========================== JoinTheArmy ======================================
*/
#JoinTheArmy {
padding-bottom: 2rem;
}

#JoinTheArmy h3 {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

/*
=========================== ContactUs ======================================
*/
.form-control {
  font-size: 1.5rem;
}
textarea {
  height: 10rem;
}
select {
    background: url(../img/select.png) no-repeat right #ddd;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}
#ContactUs {
  padding-bottom: 2em;
}
/*
=========================== footer ======================================
*/
footer {
  padding: 1rem 5rem;
}
footer ul {
  list-style-type: none;
}
footer a {
  color: white;
}
footer a:hover {
text-decoration: none;
color:black;
text-shadow: 0 0 5px grey;
}